<div class="bg-white">
    <div class="relative lg:min-h-screen">
      <div class="px-4 mx-auto max-w-7xl">
        <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
          <svg class="absolute inset-y-0 hidden h-full transform translate-x-1/2 lg:min-h-screen right-8 w-80 fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="0,0 90,0 50,100 0,100" />
          </svg>
  
          <div class="relative px-6 py-32 sm:py-40 lg:px-0 lg:py-56 lg:pr-0">
            <div class="max-w-2xl mx-auto lg:mx-0 lg:max-w-7xl">
              <!-- <div class="hidden sm:mb-10 sm:flex">
                <div class="relative px-3 py-1 text-sm leading-6 text-gray-500 rounded-full ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                  Anim aute id magna aliqua ad ad non deserunt sunt. <a href="#" class="font-semibold text-primary whitespace-nowrap"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
                </div>
              </div> -->
              <h1 class="text-4xl font-extrabold tracking-tight text-neutral-900 sm:text-6xl">Εξοπλισμός Συνεργείου</h1>
              <p class="mt-6 text-lg leading-8 text-neutral-600">Η SmartSafe εστιάζει στην έρευνα και ανάπτυξη, την παραγωγή, τις πωλήσεις και το service επαγγελματικών συσκευών βαθμονόμησης και συσκευών συντήρησης & testing για έξυπνα οχήματα και οχήματα εναλλακτικών πηγών ενέργειας. Παρέχουμε ολοκληρωμένες λύσεις για σταθερές και ασφαλείς συνθήκες εργασίας.</p>
              <div class="flex items-center mt-10 gap-x-6">
                <a href="tel:+302310550503" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Καλέστε μας</a>
                <a href="#products" class="text-sm font-semibold leading-6 text-neutral-900">Δείτε τα προϊόντα μας <span aria-hidden="true">→</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-neutral-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="media/hero.webp" alt="">
      </div>
    </div>
  </div>
  
