<div id="services" class="bg-secondary">
  <div
    class="max-w-2xl px-4 py-24 mx-auto sm:max-w-4xl sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
  >
    <div
      class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8"
    >
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white icon icon-tabler icon-tabler-shield-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M11.46 20.846a12 12 0 0 1 -7.96 -14.846a12 12 0 0 0 8.5 -3a12 12 0 0 0 8.5 3a12 12 0 0 1 -.09 7.06"/><path d="M15 19l2 2l4 -4" /></svg>
        <h3 class="mt-6 text-xl font-medium text-white">2 έτη εγγύηση</h3>
        <p class="mt-2 text-sm text-neutral-300">
            Μείνετε ήσυχοι με την πλήρη κάλυψη εγγύησης για δύο έτη σε όλα τα προϊόντα μας.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
        <h3 class="mt-6 text-xl font-medium text-white">2 έτη αναβάθμιση</h3>
        <p class="mt-2 text-sm text-neutral-300">
            Εξασφαλίστε την πρόσφατη τεχνολογία με δωρεάν αναβαθμίσεις λογισμικού για δύο έτη μετά την αγορά.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white icon icon-tabler icon-tabler-headset" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 14v-3a8 8 0 1 1 16 0v3" /><path d="M18 19c0 1.657 -2.686 3 -6 3" /><path d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /><path d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /></svg>
        <h3 class="mt-6 text-xl font-medium text-white">Τεχνική Υποστήριξη</h3>
        <p class="mt-2 text-sm text-neutral-300">
            Η ομάδα μας είναι εδώ για να σας βοηθήσει με οποιαδήποτε τεχνική ερώτηση ή πρόβλημα που αντιμετωπίζετε.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white icon icon-tabler icon-tabler-school" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
        <h3 class="mt-6 text-xl font-medium text-white">Δωρεάν Σεμινάρια για 1 έτος</h3>
        <p class="mt-2 text-sm text-neutral-300">
            Επεκτείνετε τις γνώσεις σας με δωρεάν σεμινάρια εκπαίδευσης για ένα ολόκληρο έτος, σχεδιασμένα από κορυφαίους στον τομέα.
        </p>
      </div>
    </div>
  </div>
</div>
